name: Run Newman Tests

on:
  push:
    branches:
      - main

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Check test result
        run: |
          if [ $? -ne 0 ]; then
            echo "Tests failed. Failing the workflow..."
            exit 1
          else
            echo "Tests passed. Continuing the workflow..."
          fi
